In [16]:
import QUANTAXIS as qa
from QIFIAccount import QIFI_Account,QA_Position
from QIFIAccount.QASimAccount import QIFI_SIM_Account
import pandas as pd

In [17]:
my=QIFI_SIM_Account(username='myacc4',password='myacc4')
my.initial()

In [12]:
df=pd.read_excel("E:\\leo\\投资\\2021\\股票持仓分析20210509-快照20210520.xlsx",sheet_name="持仓明细详情",header=6)
df=df[df['pos_num']>0]
code_cn_list=list(x.split(".")[0] for x in df.code[df['currency']=='CNY'].unique().tolist())
code_cn_list

['512800',
 '600036',
 '601166',
 '601225',
 '601318',
 '000961',
 '160631',
 '510880',
 '002027',
 '000333',
 '002353',
 '502020',
 '160322',
 '161121',
 '600516',
 '601668',
 '601939',
 '510050',
 '510900',
 '159920',
 '600985']

In [18]:
code_hk_list=list(x.split(".")[0] for x in df.code[df['currency']=='HK'].unique().tolist())
df_cn=df[df['currency']=='CNY'].assign(code=df['code'].apply(lambda x:x.split(".")[0]))

def QA_fetch_fund_name(code, collections=qa.DATABASE.fund_list):
    """
    获取股票名称
    """
    if isinstance(code, str):
        try:
            res = collections.find_one({'code': code})
            return res['name']
        except Exception as e:
            if (res is None):
                return qa.QA_fetch_etf_name(code)
            return code
def cn_mkt():
    real_price=qa.QA_fetch_get_stock_realtime("tdx",code=code_cn_list).reset_index(drop=False)
    real_price=real_price.assign(r=((real_price['price']/real_price['last_close']-1)*100).round(2))
    real_price=real_price.assign(last_close=real_price.apply(lambda x:x['last_close'] if x['code'][0] in ['0','3','6'] else x['last_close']/10,axis=1),
                             price=real_price.apply(lambda x:x['price'] if x['code'][0] in ['0','3','6'] else x['price']/10,axis=1))
    real_price=real_price.assign(mkt=real_price.apply(lambda x:'stock' if x['code'][0] in ['0','3','6'] else 'fund',axis=1))
    
    real_price=real_price.assign(name=real_price['code'].apply(lambda x:qa.QA_fetch_stock_name(x) if x[0] in ['0','3','6'] else QA_fetch_fund_name(x)),pos=real_price['code'].apply(lambda x:df_cn[df_cn['code']==x]['pos_num'].sum()))
    real_price=real_price.assign(mv=real_price['price']*real_price['pos'])

    real=real_price[['code','name','last_close','price','r','pos','mv','mkt']].assign(pofit=(real_price['pos']*real_price['last_close']*real_price['r']/100).round(2),w=(real_price['mv']/real_price['mv'].sum()*100).round(2)).sort_values('r',ascending=False)
    print('total:%s %s'% (real['mv'].sum().round(2),real['pofit'].sum().round(2)))
    return real

In [14]:
cn_real=cn_mkt()

total:1682618.01 13254.62

In [22]:
code_hk_list=[i.rjust(5,'0') if len(i)==4  else i for i in code_hk_list]

In [15]:
cn_stock=cn_real[cn_real['mkt']=='stock']
cn_stock

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>code</th>
      <th>name</th>
      <th>last_close</th>
      <th>price</th>
      <th>r</th>
      <th>pos</th>
      <th>mv</th>
      <th>mkt</th>
      <th>pofit</th>
      <th>w</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>600036</td>
      <td>招商银行</td>
      <td>56.28</td>
      <td>57.53</td>
      <td>2.22</td>
      <td>3300.0</td>
      <td>189849.00</td>
      <td>stock</td>
      <td>4123.07</td>
      <td>11.28</td>
    </tr>
    <tr>
      <th>8</th>
      <td>002027</td>
      <td>分众传媒</td>
      <td>9.76</td>
      <td>9.95</td>
      <td>1.95</td>
      <td>12700.0</td>
      <td>126365.00</td>
      <td>stock</td>
      <td>2417.06</td>
      <td>7.51</td>
    </tr>
    <tr>
      <th>2</th>
      <td>601166</td>
      <td>兴业银行</td>
      <td>22.10</td>
      <td>22.39</td>
      <td>1.31</td>
      <td>32200.0</td>
      <td>720958.00</td>
      <td>stock</td>
      <td>9322.22</td>
      <td>42.85</td>
    </tr>
    <tr>
      <th>16</th>
      <td>601939</td>
      <td>建设银行</td>
      <td>6.77</td>
      <td>6.81</td>
      <td>0.59</td>
      <td>3600.0</td>
      <td>24516.00</td>
      <td>stock</td>
      <td>143.79</td>
      <td>1.46</td>
    </tr>
    <tr>
      <th>4</th>
      <td>601318</td>
      <td>中国平安</td>
      <td>70.68</td>
      <td>70.85</td>
      <td>0.24</td>
      <td>900.0</td>
      <td>63765.00</td>
      <td>stock</td>
      <td>152.67</td>
      <td>3.79</td>
    </tr>
    <tr>
      <th>15</th>
      <td>601668</td>
      <td>中国建筑</td>
      <td>4.88</td>
      <td>4.89</td>
      <td>0.20</td>
      <td>2000.0</td>
      <td>9780.00</td>
      <td>stock</td>
      <td>19.52</td>
      <td>0.58</td>
    </tr>
    <tr>
      <th>10</th>
      <td>002353</td>
      <td>杰瑞股份</td>
      <td>40.67</td>
      <td>40.74</td>
      <td>0.17</td>
      <td>300.0</td>
      <td>12222.00</td>
      <td>stock</td>
      <td>20.74</td>
      <td>0.73</td>
    </tr>
    <tr>
      <th>5</th>
      <td>000961</td>
      <td>中南建设</td>
      <td>6.79</td>
      <td>6.79</td>
      <td>0.00</td>
      <td>13500.0</td>
      <td>91665.00</td>
      <td>stock</td>
      <td>0.00</td>
      <td>5.45</td>
    </tr>
    <tr>
      <th>9</th>
      <td>000333</td>
      <td>美的集团</td>
      <td>77.93</td>
      <td>77.73</td>
      <td>-0.26</td>
      <td>374.0</td>
      <td>29071.02</td>
      <td>stock</td>
      <td>-75.78</td>
      <td>1.73</td>
    </tr>
    <tr>
      <th>14</th>
      <td>600516</td>
      <td>方大炭素</td>
      <td>8.33</td>
      <td>8.29</td>
      <td>-0.48</td>
      <td>1043.0</td>
      <td>8646.47</td>
      <td>stock</td>
      <td>-41.70</td>
      <td>0.51</td>
    </tr>
    <tr>
      <th>3</th>
      <td>601225</td>
      <td>陕西煤业</td>
      <td>12.13</td>
      <td>11.97</td>
      <td>-1.32</td>
      <td>15500.0</td>
      <td>185535.00</td>
      <td>stock</td>
      <td>-2481.80</td>
      <td>11.03</td>
    </tr>
    <tr>
      <th>20</th>
      <td>600985</td>
      <td>淮北矿业</td>
      <td>12.19</td>
      <td>12.01</td>
      <td>-1.48</td>
      <td>5066.0</td>
      <td>60842.66</td>
      <td>stock</td>
      <td>-913.97</td>
      <td>3.62</td>
    </tr>
  </tbody>
</table>
</div>

In [23]:
code_hk_list

['01088', '01516', '01918', '02007', '200625', '00700']

In [9]:
def get_pos(stock):
    return QA_Position(
        code=stock['code'],
        account_cookie='myacc4',
        market_type=qa.MARKET_TYPE.STOCK_CN,
        exchange_id=qa.EXCHANGE_ID.SZSE if stock['code'][0] in (0,3) else qa.EXCHANGE_ID.SSE,
        volume_long_his=stock['pos'],
        volume_long_today=0,
        open_price_long=stock['price'],
        name=stock['name']
    )
for pos in cn_stock.apply(lambda x:get_pos(x),axis=1):
    my.add_position(pos)

settle